body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;

}

canvas {
    cursor: default;

}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

#fileInput {
    margin-bottom: 20px;
}

.canvas-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.canvas-title {
    font-size: 18px;
    margin-bottom: 10px;
}

#imageCanvas,
#previewCanvas {
    border: 2px solid #000000;
    margin-bottom: 20px;
}

#downloadBtn {
    font-size: 16px;
    padding: 10px 20px;
}

footer {
    margin-top: 20px;
}

footer p {
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color: #007bff;
}

footer a:hover {
    text-decoration: underline;
}

/* 기존 styles.css에 추가 */
.canvas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}


/* 데스크톱: 좌우 배치 */
@media screen and (min-width: 768px) {
    .canvas-container > div {
        width: 45%; /* 원하는 비율로 조정하세요 */
    }
}

/* 모바일: 상하 배치 */
@media screen and (max-width: 767px) {
    .canvas-container > div {
        width: 100%; /* 모바일에서 전체 너비 */
    }
    /* 공통: 캔버스 크기 */
    #imageCanvas,
    #previewCanvas {
        max-width: 100%;
        max-height: 100%; 
    }
}
